doctype
html(ng-app="myapp")
    head
        title The Owl and Pussycat Salon
        meta(http-equiv="content-type",content="text/html;charset=utf-8")
        meta(name="description",content="OPC is a full-service salon with a talented team of stylists, each trained and experienced with both cutting and color. A cool new addition to the Fort Greene and Clinton Hill neighborhoods in Brooklyn, NY!")
        meta(name="keywords",content="")
        link(rel='stylesheet',href="/css/style.css")
        link(rel='stylesheet',href="/owl-carousel/owl.carousel.css")
        link(rel='stylesheet',href="/owl-carousel/owl.theme.css")
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
        link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Open+Sans")
        link(rel='stylesheet',href='//fonts.googleapis.com/css?family=Philosopher|Rock+Salt',type='text/css')
        //link(href='//fonts.googleapis.com/css?family=Poiret+One',rel='stylesheet',type='text/css')
        link(rel='stylesheet', href="/css/animate.css")
        script(src="js/jquery.min.js")
        script(src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")
        script(src="js/lazyload.js")
        //script(src="https://phreeze.googlecode.com/svn-history/r408/trunk/phreeze/classbuilder/code/phreeze.backbone/scripts/libs/jquery.scrollIntoView.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
        script(src="app/app.js",type="application/javascript")
        script(src="app/controllers.js")
        script(src="app/directives.js")
        script(src="js/jquery.dropotron.min.js")
        script(src="/owl-carousel/owl.carousel.js")
        script(src="js/jquery.nav.js")
        style.
            html, body{
                height:100%;
            }
            .hider {
                display:none;
            }
            .bounce {
                background-color:black;
            }

body
    .container-fluid(style='background-image:url("images/stripe3.png");min-height:100%;height:100%;box-sizing:border-box;')
        nav.navbar.navbar-default.navbar-fixed-top(role="navigation",style="background-image: url(http://www.transparenttextures.com/patterns/billie-holiday.png);")#top-nav
            .container-fluid
                .navbar-header
                .collapse.navbar-collapse#bs-example-navbar-collapse-1
                    ul.nav.navbar-nav
                        li
                            a(href="#stylists") Stylists
                        li
                            a(href="#menu") Menu
                        li
                            a(href="#policy") Policy
                        li  
                            a(href="#products") Products
                        li
                            a(href="#contact") Contact Us
                    ul.nav.navbar-nav.navbar-right(style="font-size:1em")
                        li.dropdown(style="margin-right:70px")
                            a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false") Social Media
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li
                                    center
                                        div(style="display:inline")
                                            a(href="#")
                                                img(height="30",width="30",src="images/twitter-icon2.png")
                                        div(style="display:inline")
                                            a(href="https://www.facebook.com/opcsalon")
                                                img(height="30",width="30",src="images/facebook-icon2.png")
                                        div(style="display:inline")
                                            a(href="http://instagram.com/owlandpussycatsalon")
                                                img(height="50",width="50",src="images/instagram2.png")
                                        div(style="display:inline;padding:5px")
                                            a(href="http://instagram.com/owlandpussycatsalon")
                                                img(height="20",width="20",src="images/yelp.png")
                        li.dropdown
                            a.dropdown-toggle(href="#",data-toggle="dropdown",role="button",aria-expanded="false") Hours
                                span.caret
                            ul.dropdown-menu(role="menu")
                                li 
                                    div(style="padding:8px")
                                        center
                                             p(style="font-size:.8em") M,W,Th 11a-9p
                                li
                                    div(style="padding:8px")
                                        center
                                             p(style="font-size:.8em") T,F 11a-7p
                                    div(style="padding:8px")
                                        center
                                             p(style="font-size:.8em") Sa 10a-7p
                                    div(style="padding:8px")
                                        center
                                             p(style="font-size:.8em") Su 11a-6p
                                
                        
                            
                            
        div(style="margin-top:2em")
            center
                img(height="580",width="690",src="images/logo2.png")
            //center
                i.fa.fa-chevron-down.front-page-down(style="font-size:2em;color:white")
    .wrapper#anchor
    .wrapper#stylists
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#efe4e3;position:absolute;left:50%")
            img.scissors(src="images/normal.png")
            center
                p  Meet Our Team
    .container-fluid(style="background-color:#D86D68")
        //div(style="background-color:#f3f3f3;padding:20px;height:8em")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Our Stylists
    .container-fluid#stylists(style="padding-top:130px;background:#efe4e3")
        .row
            .col-xs-6.col-md-4.stylist#jane(style="padding:20px")
                center
                    div#jane(style='background-image:url("images/jane.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Jane
                    em Partner | Lead Stylist
                    div(id="janebio",style="display:none")
                        strong Jane is co-owner of the salon and leads and mentors our Artistic Team here at OPC. She is also our resident color expert. Jane crafted her early career in Florida, where she became a Redken Master Stylist and color maven. Ten years later, she was ready for New York…and New York was ready for Jane. Jane lives in Greenpoint and is excited to bring her talents to Ft. Greene. “The neighborhood needs easy access to stellar hair services! I love the energy, diversity, and artistic expression found in the most unlikely of places in this city.” Jane’s approach is all about precision – delivered with warmth, sincerity and fun. Her instinctive reading of her clients needs, coupled with exemplary service standards has given our team pride and inspiration.
            .col-xs-6.col-md-4.stylist#jessica(style="padding:20px")
                center
                    div#jessica(style='background-image:url("images/jessica.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Jessica
                    em Lead Stylist
                    div(id="jessbio",style="display:none")
                        strong Jessica has spent eighteen years growing her skills as a colorist, cutter, and updo artist. She has a background in education and platform work, working for industry innovators such as L’Oreal Professionnel. Jessica is driven by the belief that beauty, function, confidence, and self expression can be attainable for everyone. She utilizes her passion for art, fashion, and relationships to cultivate a professional one on one experience for each and every client. Her patience and good natured disposition provides an environment of trust, allowing clients to explore new ideas on their own terms. Classic or edgy, sophisticated or free spirited, Jessica will take you where you want to go!
            .col-xs-6.col-md-4.stylist#kim(style="padding:20px")
                center
                    div(style='background-image:url("images/kimba.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Kim
                    em Lead Stylist
                    div(id="kimbio",style="display:none")
                        strong Kim brings “Beachy Boho” from Florida to Brooklyn. A hairstylist for 12 years, Kim was trained by Redken’s top educators through to becoming becoming a Redken Master Stylist. She trained at the Redken Exchange on Fifth Ave in New York and in Tampa, she worked behind the scenes with the Tampa Bay Buccaneers Cheerleaders, doing hair for game days, photo shoots and their swimsuit calendars. As part of Kim’s freelance work she is a hair and makeup artist for the Saks fifth Ave corporate offices, and works on sets for various commercials and photo shoots. “Im inspired by the diversity and energy that New York has to offer. I plan on making people beautiful one head at a time!”
                        
            .col-xs-6.stylist#mary(style="padding:20px")
                center
                    div(style='background-image:url("images/mary1.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Mary
                    em Lead Stylist
                    div(id="marybio",style="display:none")
                        strong Mary Crocker knew from a very young age she wanted to be a hairdresser, doing her first haircut at the age of 11 for her time crunched mother. She finds her inspiration in her surroundings: “What are people wearing on the streets from neighborhood to neighborhood? The city is a constantly evolving environment full of fresh inspiration”. For men, she’s inspired by GQ and Mad Men, crisp and clean. Mary has spent a great deal of time working with barbers to really develop her skills in this frequently neglected aspect of hairdressing. Specializing in “wake and shake” hair for her ladies, meaning natural, wearable hair. Its always a fun and first class experience in Mary’s office!
                        
            .col-xs-6.stylist#christine(style="padding:20px")
                center
                    div(style='background-image:url("images/christine2.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Christine
                    em Senior Stylist
                    div(id="chrstinebio",style="display:none")
                        strong Christine is a warm ray of sunshine hailing from the west coast with almost two decades experience behind the chair. She’s incredible at creating natural, wearable, breathtaking color by incorporating techniques unique to our salon. Her cuts use soft edges on crisp lines and are customized to each clients individual needs. What brings people back into Christine’s chair is her genuine warmth, which works in congruence with her skill.
            
            .col-xs-6.stylist#jenni(style="padding:20px")
                center
                    div(style='background-image:url("images/jenni3.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Jenni
                    em Stylist
                    //div(id="jennibio",style="display:none;color:white")
                        strong Jenni is a New York native with 10 years experience as a stylist and make up artist.  She is a Certified Colorist for Redken, where she trained extensively at the Redken Exchange on Fifth Avenue. In conjunction with her salon work, Jenni has traveled the country educating young stylists on color theory and application.  Wanting to expand her knowledge as an artist, Jenni earned her BFA in photography at the Fashion Institute of Technology.   “Studying both art forms truly allowed me to look at the hair and individual with a unique perspective.  As stylists, we create wearable art on every client in our chair!”
            .col-xs-6#jennibio(style="padding:20px;display:none")   
                center
                    strong Jenni is a New York native with 8 years experience as a stylist and make up artist. She is a Certified Colorist for Redken, where she trained extensively at the Redken Exchange on Fifth Avenue. In conjunction with her salon work, Jenni has traveled the country training upcoming stylists on color theory and application. Wanting to expand her knowledge as an artist, Jenni earned her BFA in photography at the Fashion Institute of Technology. “Studying both art forms truly allowed me to look at the hair and individual with a unique perspective. As stylists, we create wearable art on every client in our chair!”
            .col-xs-6#coribio(style="padding:20px;display:none")
                center
                    strong Cori Norton, our brand new super-stylist is another Floridian transplant happily received into Brooklyn! Cori’s love and passion for hair began nearly a decade ago in 2005, where she attended Redken’s Salon Professional Academy in Tampa, Florida. Over the years she has trained with some of the leading hair artists in the industry, and focussed on education through classes at Redken’s 5th Ave. headquarters. She has worked on commercial and photo shoots, including styling hair for the Tampa Bay Buccaneer Cheerleaders. Cori enjoys every aspect of doing hair but particularly loves to focus on curly hair, blondes and color corrections. Cori is a warm, friendly and talented addition to the team.
            .col-xs-6.stylist#cori(style="padding:20px")
                center
                    div(style='background-image:url("images/cori.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 10px')
                    h3 Cori
                    em Stylist
                    //div(id="coribio",style="display:none;color:white")
                        strong Cori Norton, our brand new super-stylist is another Floridian transplant happily received into Brooklyn! Cori’s love and passion for hair began nearly a decade ago in 2005, where she attended Redken’s Salon Professional Academy in Tampa, Florida. Over the years she has trained with some of the leading hair artists in the industry, and focussed on education through classes at Redken’s 5th Ave. headquarters. She has worked on commercial and photo shoots, including styling hair for the Tampa Bay Buccaneer Cheerleaders. Cori enjoys every aspect of doing hair but particularly loves to focus on curly hair, blondes and color corrections. Cori is a warm, friendly and talented addition to the team.
    #second
    .wrapper
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#DF716B;position:absolute;left:50%")
            img.scissors(src="images/normal.png")
                         
    .container-fluid(style="background-color:#DF716B")
        //div(style="background-color:black;padding:20px")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Our Staff
                
    .container-fluid#staff(style="padding-top:120px;padding-bottom:50px;background-color:#DF716B")
        .row
            .col-xs-6(style="padding:20px")
                center
                    div(style='background-image:url("images/rachel1.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Rachael
                    em Salon coordinator
            .col-xs-6(style="padding:20px")
                center
                    div(style='background-image:url("images/christineA.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Christine
                    em Apprentice stylist
                    
    .wrapper#menu
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#efe4e3;position:absolute;left:50%;background-image: url(http://www.transparenttextures.com/patterns/black-linen.png)")
            img.scissors(src="images/normal.png")
            center
                p Menu
    .container-fluid(style="padding-bottom:50px;background:#efe4e3;background-image: url(http://www.transparenttextures.com/patterns/black-linen.png)")
        .row
            center    
                div(style="margin-top:50px;width:50%")
                    p(style="font-size:1.5em;font-weight:600") Our menu provides a base price for services. We encourage our clients to book a complimentary consultation for any new and exciting chemical services, wedding hair/special occasion styling, and make-up appointments to get an accurate quote from their personal stylist. Please keep in mind prices can vary considerably based on many factors including existing condition of the hair, amount of product/time required, and desired results. It is our goal to provide the highest quality service while maintaining the integrity of the hair and keeping an open line of communication with all of our clientele.
        .row
            .col-xs-6#menudetails(style="padding-left:150px")
                //h3(style="color:#df4434") CUT
                hr
                span Barber Cuts 45/48/52
                br
                span Haircuts 75/85/92
                br
                span Bang Trim 15
                br
                span Blowout 48/60
                br
                //span(style="font-size:2.2em")(style="color:#df4434") TREATMENT
                span Deep Conditioning 15
                br
                span Flat Iron / Curling Iron 20
            .col-xs-6#menudetails(style="padding-left:150px")
                //h3(style="color:#df4434") Color
                hr
                span Single Process 78
                br
                span Double Process 175
                br
                span Quarter Highlights 90
                br
                span Half Highlights 130    
                br
                span Full Highlights 175
                br
                span Toner/Glaze 40
                br
                span Shades EQ Gloss 55
                br
                span Additional Color 30
                br
                //hr
        //center
            hr
            h2 Our Policy
            hr
            h4 Please be advised that require a credit card to hold all appointments. We kindly ask that any changes or cancellations be made with <em style="color:red">24hours notice</em>. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice. No shows will only be rebooked at the management’s discretion. Please contact OPC Salon within <span style="color:red">72 hours</span> to report the need for a service correction. Customer satisfaction is our number one priority. Payments will be accepted by cash and all major credit/debit cards. We ask any gratuities are in cash. Please no personal checks. There is no ATM on the premises.
    .wrapper#policy
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#9de0df;position:absolute;left:50%")
            img.scissors(src="images/normal.png")
            center
                p Policy
    .container-fluid(style="background:#9de0df;padding:150px")
        .row
            .col-md-6(style="font-size:1.2em")
                 ul
                    li 
                        p Please be advised that OPC Salon requires a credit card to hold all appointments.
                    li
                        p  We kindly ask that any changes or cancellations be made with 24 hours notice. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice.
                    li
                        p  No shows will only be rebooked at the management’s discretion.
                    li
                        p  Please contact OPC Salon within 72 hours to report the need for a service correction.
                    li
                        p  Payments will be accepted by cash and all major credit/debit cards except for American Express. Gratuity is cash only. Please no personal checks. There is no ATM on the premises.
            .col-md-6(style="padding-left:100px;")
                img(src="images/stuart.png", height="400", width="350",style="border-radius:50%")
                hr
                center
                    div(style="display:inline-block;padding:20px;height:20px;border-right:solid black 1px")
                        p Stuart Fraser
                    div(style="display:inline-block;padding:20px;height:20px")
                        p Founder / Owner OPC Salon
                //center
                    
                    h4 Please be advised that require a credit card to hold all appointments. We kindly ask that any changes or cancellations be made with <em style="color:red">24hours notice</em>. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice. No shows will only be rebooked at the management’s discretion. Please contact OPC Salon within <span style="color:red">72 hours</span> to report the need for a service correction. Customer satisfaction is our number one priority. Payments will be accepted by cash and all major credit/debit cards except for American Express. Gratuity is cash only. Please no personal checks. There is no ATM on the premises.
    //.container-fluid(style="background-color:black")
        div(style="background-color:black;padding:20px")
            center(style="color:black;font-family:Droid Sans,sans-serif")
                h2 Holla
    .wrapper#products
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#223a3f;position:absolute;left:50%")
            img.scissors(src="images/normal.png")
            center
                p(style="color:white") Products
    .container-fluid#mural
        .row
            .col-md-6
                center
                    img.img-circle(src="images/product.jpg",height="600",width="550",style="margin-top:15px")
            .col-md-4(style="margin-top:50px")
                center
                    a(href="http://www.pureology.com/",target="_self")
                        img(src="images/pureologysample.jpg",height="200",width="250")
            .col-md-4(style="margin-top:50px")
                center
                    a(href="http://www.redken.com",target="_self")
                        img(height="200",width="200",src="images/redken2012.png")
    //section#mural(data-type="background",data-speed="7",style="min-height:100%;height:50%;box-sizing:border-box;")
    //.wrapper(style="position:relative;")
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#efe4e3;position:absolute;left:50%")
            center
                p(style="font-size:1.5em;font-weight:600;color:black") Stop by
    .container-fluid#group
        .row(style="margin-top:50px")
            center
                p(style="font-family: 'Rock Salt', cursive;font-size:3em;color:#e2867a") OPC SALON....BEAUTIFYING BROOKLYN 
    //.container-fluid(style="background-color:black")
        div(style="background-color:black;padding:20px")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Say Hi :)
    .wrapper#contact
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#d86d68;position:absolute;left:50%")
            img.scissors(src="images/normal.png")
            center
                p Contact Us
    .container-fluid(style="background-color:#d86d68;background-image: url(http://www.transparenttextures.com/patterns/argyle.png)")
        .row
            center
            .col-xs-6(style="padding:100px;float:none;margin-right:auto;margin-left:auto;border: solid #eee 5px;margin-top:5em;margin-bottom:3em;background-color:#d86d68")
                form(role="form")
                    .form-group
                        label(for="inputName") Your Name
                        input#inputName.form-control(type="text")
                    .form-group
                        label(for="inputEmail") Your Email Address
                        input#inputEmail.form-control(type="email")
                    .form-group
                        label(for="inputMessage") Your Message
                        textarea#inputMessage.form-control(type="textarea")
                    button.btn.btn-default(type="submit") Send It
                div(style="float:right")
                    p The Owl & The Pussycat Salon
                    p 154 Vanderbilt Avenue, Brooklyn, NY 11205
                    p 718.522.5697
               
    .container-fluid#footer(style="background-color:#eee")
        div(style="display:inline;border-right:solid black 1px")
            a(href="https://twitter.com/OPCSalonBK")
                img(height="50",width="50",src="images/twitter-icon2.png")
        div(style="display:inline;border-right:solid black 1px")
            a(href="https://www.facebook.com/opcsalon")
                img(height="50",width="50",src="images/facebook-icon2.png")
        div(style="display:inline;")
            a(href="http://instagram.com/owlandpussycatsalon")
                img(height="70",width="70",src="images/instagram2.png")
        div(style="display:inline;padding:20px")
            strong Stay in touch
        br
        div(style="display:inline;border-right:solid black 1px;padding:10px")
            strong Hours of Operation - Monday, Wednesday, Thursday 11AM - 9PM
        div(style="display:inline;border-right:solid black 1px;padding:10px")
            strong Tuesday, Friday 11AM - 7PM
        div(style="display:inline;border-right:solid black 1px;padding:10px")
            strong Saturday 10AM - 7PM
        div(style="display:inline;border-right:solid black 1px;padding:10px")
            strong Sunday 11AM - 6PM
            //.col-xs-6(style="padding:80px;left:400px")
                a(href="http://www.redkent.com")
                    img(height="100",width="100",src="images/redken2012.png")
                    
script.
    $(".stylist").click(function(){
        console.log(this.id)
        
        $('.stylist').toggleClass("animated rotateOut")
        $(this).toggleClass("animated fadeOut").removeClass("hider")
        
        switch(this.id){
            case "jane":
                $("#janebio").toggle();
                //$('#stylists > .row').append('<div class="" style="float:right"><h1>something over here</h1><div>')
                break;
            case "jessica":
                $("#jessbio").toggle();
                break;
            case "kim":
                $("#kimbio").toggle();
                break;
            case "mary":
                $("#marybio").toggle();
                break;
            case "christine":
                $("#chrstinebio").toggle();
                break;
            case "jenni":
                $("#jennibio").toggle();
                break;
            case "cori":
                $("#coribio").toggle();
                break;
        }
    })
    /*$('#jane').click(function(){
        scroller();
        //$('#jessica').toggleClass("hider")
        if(!$("#jessica").is(":visible")){
            console.log('execute')
            $('#jessica').addClass('animated rotateIn').toggleClass("hider")
        }
        else{
            $('#jessica').addClass('animated rotateOut').one('webkitAnimationEnd oanimationend msAnimationEnd animationend',  
                function(e) {
                    $(this).removeClass('animated rotateOut').toggleClass("hider");
                }
            );
            $('#jenni').toggleClass("hider")
            $('#cori').toggleClass("hider")
            $('#mary').toggleClass("hider")
            $('#christine').toggleClass("hider")
            $('#kim').toggleClass("hider")
            $('#janebio').toggle();
            $('#stylists').toggleClass("bounce");
            $('#stylists').css("background-color:black");
            }
    })
    $('#jessica').click(function(){
        scroller();
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessbio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#kim').click(function(){
        scroller();
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#kimbio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#christine').click(function(){
        $("html, body").animate({ scrollTop: $("#anchor").offset().top }, 500);
        if(!$("#jane").is(":visible")){
            console.log('something')
            $("html, body").animate({ scrollTop: $('#second').offset().top - 200    }, 500);
        }
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#chrstinebio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#mary').click(function(){
        $("html, body").animate({ scrollTop: $("#anchor").offset().top }, 500);
        if(!$("#jane").is(":visible")){
            console.log('something')
            $("html, body").animate({ scrollTop: $('#second').offset().top - 200    }, 500);
        }
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#marybio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#jenni').click(function(){
        scroller();
        $('#jane').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#jennibio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#cori').click(function(){
        $("html, body").animate({ scrollTop: $("#anchor").offset().top }, 500);
        if(!$("#jane").is(":visible")){
            console.log('something')
            $("html, body").animate({ scrollTop: $('#contact').offset().top}, 500);
        }
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#coribio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })*/
    
    function scroller(){
         $("html, body").animate({ scrollTop: $("#anchor").offset().top }, 500);
    }
    
    $(document).ready(function(){
           // cache the window object
           
          
          $('#top-nav').onePageNav({
                 currentClass: 'active',
                 changeHash: true,
                 scrollSpeed: 600
          });
           $window = $(window);

           $('section[data-type="background"]').each(function(){
             // declare the variable to affect the defined data-type
             var $scroll = $(this);

              $(window).scroll(function() {
                // HTML5 proves useful for helping with creating JS functions!
                // also, negative value because we're scrolling upwards                             
                var yPos = -($window.scrollTop() / $scroll.data('speed')); 

                // background position
                var coords = '50% '+ yPos + 'px';

                // move the background
                $scroll.css({ backgroundPosition: coords });    
              }); // end window scroll
           });  // end section function
        }); // close out script
        
        
    
        