doctype
html(ng-app="myapp")
    head
        title The Owl and Pussycat Salon
        meta(http-equiv="content-type",content="text/html;charset=utf-8")
        meta(name="description",content="")
        meta(name="keywords",content="")
        link(rel='stylesheet',href="/css/style.css")
        link(rel='stylesheet',href="/owl-carousel/owl.carousel.css")
        link(rel='stylesheet',href="/owl-carousel/owl.theme.css")
        link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css')
        //link(rel='stylesheet', href="http://fonts.googleapis.com/css?family=Droid+Sans")
        //link(rel="stylesheet", href="http://fonts.googleapis.com/css?family=Cookie")
        link(rel='stylesheet',href='http://fonts.googleapis.com/css?family=Lobster+Two',type='text/css')
        link(rel='stylesheet', href="/css/animate.css")
        script(src="js/jquery.min.js")
        script(src="js/lazyload.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js",type="application/javascript")
        script(src="app/app.js",type="application/javascript")
        script(src="app/controllers.js")
        script(src="app/directives.js")
        script(src="js/jquery.dropotron.min.js")
        script(src="/owl-carousel/owl.carousel.js")
        style.
            html, body{
                height:100%;
            }
            .hider {
                display:none;
            }
            .bounce {
                background-color:black;
            }
            .wrapper .title:before{
                background: url('images/shadow.png');
                height:38px;
                width:38px;
                bottom:-24px;
                left:-35px;
                position:absolute;
                content: '';
            }
            .wrapper .title:after{
                background: url('images/shadow.png');
                height:38px;
                width:38px;
                bottom:-24px;
                right:-35px;
                position:absolute;
                content: '';
                transform: scaleX(-1);
            }

body
    .container-fluid(style='background-image:url("images/stripe3.png");min-height:100%;height:100%;box-sizing:border-box;')
        div(style="margin-top:2em")
            center
                img(height="580",width="690",src="images/logo2.png")
            center
                i.fa.fa-chevron-down.front-page-down(style="font-size:2em;color:white")
    .wrapper(style="position:relative;")
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#efe4e3;position:absolute;left:50%")
            center
                p(style="font-size:1.5em;font-weight:600;color:#333333") Meet Our Stylists
    .container-fluid(style="background-color:#D86D68")
        //div(style="background-color:#f3f3f3;padding:20px;height:8em")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Our Stylists
    .container-fluid#stylists(style="padding-top:130px;background:#efe4e3")
        .row
            .col-xs-6.col-md-4#jane(style="padding:20px")
                center
                    div#jane(style='background-image:url("images/jane.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Jane
                    em Partner | Lead Stylist
                    div(id="janebio",style="display:none;color:white")
                        strong Jane is co-owner of the salon and leads and mentors our Artistic Team here at OPC. She is also our resident color expert. Jane crafted her early career in Florida, where she became a Redken Master Stylist and color maven. Ten years later, she was ready for New York…and New York was ready for Jane. Jane lives in Greenpoint and is excited to bring her talents to Ft. Greene. “The neighborhood needs easy access to stellar hair services! I love the energy, diversity, and artistic expression found in the most unlikely of places in this city.” Jane’s approach is all about precision – delivered with warmth, sincerity and fun. Her instinctive reading of her clients needs, coupled with exemplary service standards has given our team pride and inspiration.
            .col-xs-6.col-md-4#jessica(style="padding:20px")
                center
                    div#jessica(style='background-image:url("images/jessica.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Jessica
                    em Lead Stylist
                    div(id="jessbio",style="display:none;color:white")
                        strong Jessica has spent eighteen years growing her skills as a colorist, cutter, and updo artist. She has a background in education and platform work, working for industry innovators such as L’Oreal Professionnel. Jessica is driven by the belief that beauty, function, confidence, and self expression can be attainable for everyone. She utilizes her passion for art, fashion, and relationships to cultivate a professional one on one experience for each and every client. Her patience and good natured disposition provides an environment of trust, allowing clients to explore new ideas on their own terms. Classic or edgy, sophisticated or free spirited, Jessica will take you where you want to go!
            .col-xs-6.col-md-4#kim(style="padding:20px")
                center
                    div(style='background-image:url("images/kimba.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Kim
                    em Lead Stylist
                    div(id="kimbio",style="display:none;color:white")
                        strong Kim brings “Beachy Boho” from Florida to Brooklyn. A hairstylist for 12 years, Kim was trained by Redken’s top educators through to becoming becoming a Redken Master Stylist. She trained at the Redken Exchange on Fifth Ave in New York and in Tampa, she worked behind the scenes with the Tampa Bay Buccaneers Cheerleaders, doing hair for game days, photo shoots and their swimsuit calendars. As part of Kim’s freelance work she is a hair and makeup artist for the Saks fifth Ave corporate offices, and works on sets for various commercials and photo shoots. “Im inspired by the diversity and energy that New York has to offer. I plan on making people beautiful one head at a time!”
                        
            .col-xs-6#christine(style="padding:20px")
                center
                    div(style='background-image:url("images/christine2.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Christine
                    em Senior Stylist
                    div(id="chrstinebio",style="display:none;color:white")
                        strong Christine is a warm ray of sunshine hailing from the west coast with almost two decades experience behind the chair. She’s incredible at creating natural, wearable, breathtaking color by incorporating techniques unique to our salon. Her cuts use soft edges on crisp lines and are customized to each clients individual needs. What brings people back into Christine’s chair is her genuine warmth, which works in congruence with her skill.
            
            .col-xs-6#mary(style="padding:20px")
                center
                    div(style='background-image:url("images/mary1.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Mary
                    em Senior Stylist
                    div(id="marybio",style="display:none;color:white")
                        strong Mary Crocker knew from a very young age she wanted to be a hairdresser, doing her first haircut at the age of 11 for her time crunched mother. She finds her inspiration in her surroundings: “What are people wearing on the streets from neighborhood to neighborhood? The city is a constantly evolving environment full of fresh inspiration”. For men, she’s inspired by GQ and Mad Men, crisp and clean. Mary has spent a great deal of time working with barbers to really develop her skills in this frequently neglected aspect of hairdressing. Specializing in “wake and shake” hair for her ladies, meaning natural, wearable hair. Its always a fun and first class experience in Mary’s office!
            .col-xs-6#jenni(style="padding:20px")
                center
                    div(style='background-image:url("images/jenni3.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Jenni
                    em Stylist
                    div(id="jennibio",style="display:none;color:white")
                        strong Jenni is a New York native with 8 years experience as a stylist and make up artist. She is a Certified Colorist for Redken, where she trained extensively at the Redken Exchange on Fifth Avenue. In conjunction with her salon work, Jenni has traveled the country training upcoming stylists on color theory and application. Wanting to expand her knowledge as an artist, Jenni earned her BFA in photography at the Fashion Institute of Technology. “Studying both art forms truly allowed me to look at the hair and individual with a unique perspective. As stylists, we create wearable art on every client in our chair!”
                        
            .col-xs-6#cori(style="padding:20px")
                center
                    div(style='background-image:url("images/cori.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Cori
                    em Stylist
                    div(id="coribio",style="display:none;color:white")
                        strong Cori Norton, our brand new super-stylist is another Floridian transplant happily received into Brooklyn! Cori’s love and passion for hair began nearly a decade ago in 2005, where she attended Redken’s Salon Professional Academy in Tampa, Florida. Over the years she has trained with some of the leading hair artists in the industry, and focussed on education through classes at Redken’s 5th Ave. headquarters. She has worked on commercial and photo shoots, including styling hair for the Tampa Bay Buccaneer Cheerleaders. Cori enjoys every aspect of doing hair but particularly loves to focus on curly hair, blondes and color corrections. Cori is a warm, friendly and talented addition to the team.
    .wrapper(style="position:relative;")
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#DF716B;position:absolute;left:50%")
            center
                p(style="font-size:1.5em;font-weight:600;color:#333333") Support Staff                 
    .container-fluid(style="background-color:#DF716B")
        //div(style="background-color:black;padding:20px")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Our Staff
                
    .container-fluid#staff(style="padding-top:120px;padding-bottom:50px;background-color:#DF716B")
        .row
            .col-xs-6(style="padding:20px")
                center
                    div(style='background-image:url("images/rachel1.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Rachael
            .col-xs-6(style="padding:20px")
                center
                    div(style='background-image:url("images/christineA.png");background-size:cover;height:20.5em;width:20.5em;border:solid white 5px')
                    h3 Christine
                    
    .wrapper(style="position:relative;")
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#efe4e3;position:absolute;left:50%")
            center
                p(style="font-size:1.5em;font-weight:600;color:#333333") Menu
    .container-fluid(style="padding-bottom:50px;background:#efe4e3")
        div(style="margin-top:50px")
            center
                em(style="font-size:1.5em") Our menu provides a base price for services. We encourage our clients to book a complimentary consultation for any new and exciting chemical services, wedding hair/updos, and make-up appointments to get an accurate quote from their personal stylist. Please keep in mind prices can vary considerably based on many factors including existing condition of the hair, amount of product/time required, and desired results. It is our goal to provide the highest quality service while maintaining the integrity of the hair and keeping an open line of communication with all of our clientele.
        .row
            .col-xs-6(style="padding-left:150px;font-family:'Lobster Two', cursive")
                //h3(style="color:#df4434") CUT
                hr
                span(style="font-size:2.2em") Barber Cuts 45/48/52
                br
                span(style="font-size:2.2em") Haircuts 75/78/92
                br
                span(style="font-size:2.2em") Bang Trim 15
                br
                span(style="font-size:2.2em") Blowout 48/60
                br
                //span(style="font-size:2.2em")(style="color:#df4434") TREATMENT
                br
                br
                span(style="font-size:2.2em") Additional Color 30
                br
                span(style="font-size:2.2em") Deep Conditioning 15
                br
                span(style="font-size:2.2em") Iron Work 20+
            .col-xs-6(style="padding-left:150px;font-family:'Lobster Two', cursive")
                //h3(style="color:#df4434") Color
                hr
                span(style="font-size:2.2em") Full Highlights 175+
                br
                span(style="font-size:2.2em") Single Process 78+
                br
                span(style="font-size:2.2em") Quarter Highlights 90+
                br
                span(style="font-size:2.2em") Partial Highlights 130+     
                br
                span(style="font-size:2.2em") Double Process 175+
                br
                span(style="font-size:2.2em") Toner/Glaze 40
                br
                span(style="font-size:2.2em") Shades EQ Gloss 55
                //hr
        //center
            hr
            h2 Our Policy
            hr
            h4 Please be advised that require a credit card to hold all appointments. We kindly ask that any changes or cancellations be made with <em style="color:red">24hours notice</em>. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice. No shows will only be rebooked at the management’s discretion. Please contact OPC Salon within <span style="color:red">72 hours</span> to report the need for a service correction. Customer satisfaction is our number one priority. Payments will be accepted by cash and all major credit/debit cards except for American Express. Gratuity is cash only. Please no personal checks. There is no ATM on the premises.
    .wrapper(style="position:relative;")
        .title(style="width:25em;height:4.25em;top:-3.25em;line-height:3.25em;margin-left:-12.5em;background:#9de0df;position:absolute;left:50%")
            center
                p(style="font-size:1.5em;font-weight:600;color:#333333") Policy
    .container-fluid(style="background:#9de0df")
        .row
            .col-md-6(style="margin-top:100px;margin-left:24em")
                ul
                    li 
                        h4 Please be advised that require a credit card to hold all appointments.
                    li
                        h4 We kindly ask that any changes or cancellations be made with 24hours notice. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice.
                    li
                        h4 No shows will only be rebooked at the management’s discretion.
                    li
                        h4 Please contact OPC Salon within 72 hours to report the need for a service correction.
                    li
                        h4 Payments will be accepted by cash and all major credit/debit cards except for American Express. Gratuity is cash only. Please no personal checks. There is no ATM on the premises.
                //center
                    
                    h4 Please be advised that require a credit card to hold all appointments. We kindly ask that any changes or cancellations be made with <em style="color:red">24hours notice</em>. In the event of a no show or cancellation on short notice we reserve the right to charge up to 50% of the scheduled sevice. No shows will only be rebooked at the management’s discretion. Please contact OPC Salon within <span style="color:red">72 hours</span> to report the need for a service correction. Customer satisfaction is our number one priority. Payments will be accepted by cash and all major credit/debit cards except for American Express. Gratuity is cash only. Please no personal checks. There is no ATM on the premises.
    //.container-fluid(style="background-color:black")
        div(style="background-color:black;padding:20px")
            center(style="color:black;font-family:Droid Sans,sans-serif")
                h2 Holla
    .container-fluid(style='background:url("images/opcsalon_cmyk.png") 50% 0 fixed;height:auto;margin:0 auto;position:relative;box-shadow: 0 0 50px rgba(0,0,0,0.8);padding: 200px 0;background-repeat:no-repeat;background-size:cover;')
    .container-fluid(style="background-color:black")
        div(style="background-color:black;padding:20px")
            center(style="color:white;font-family:Droid Sans,sans-serif")
                h2 Say Hi :)
    .container-fluid(style="background-color:#937dc7")
        center
            a(href="https://twitter.com/OPCSalonBK")
                img(height="100",width="100",src="images/twitter-icon2.png")
            a(href="https://www.facebook.com/opcsalon")
                img(height="100",width="100",src="images/facebook-icon2.png")
            a(href="http://instagram.com/owlandpussycatsalon")
                img(height="100",width="100",src="images/instagram2.png")
            hr
            hr
    .container-fluid(style="background-color:#937dc7")
        .row
            .col-xs-6(style="padding:80px")
                form(role="form")
                    .form-group
                        label(for="inputName") Your Name
                        input#inputName.form-control(type="text")
                    .form-group
                        label(for="inputEmail") Your Email Address
                        input#inputEmail.form-control(type="email")
                    .form-group
                        label(for="inputMessage") Your Message
                        textarea#inputMessage.form-control(type="textarea")
                    button.btn.btn-default(type="submit") Send It
            .col-xs-6(style="padding:80px;left:400px")
                a(href="http://www.redkent.com")
                    img(height="100",width="100",src="images/redken2012.png")
                    
script.
    $('#jane').click(function(){
        console.log('clicked')
        $('#jessica').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#janebio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#jessica').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessbio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#kim').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#kimbio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#christine').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#chrstinebio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#mary').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#marybio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#jenni').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#cori').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#jennibio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    $('#cori').click(function(){
        console.log('clicked')
        $('#jane').toggleClass("hider")
        $('#jenni').toggleClass("hider")
        $('#mary').toggleClass("hider")
        $('#christine').toggleClass("hider")
        $('#kim').toggleClass("hider")
        $('#jessica').toggleClass("hider")
        $('#coribio').toggle();
        $('#stylists').toggleClass("bounce");
        $('#stylists').css("background-color:black");
    })
    
    $(document).ready(function(){
           // cache the window object
           $window = $(window);

           $('section[data-type="background"]').each(function(){
             // declare the variable to affect the defined data-type
             var $scroll = $(this);

              $(window).scroll(function() {
                // HTML5 proves useful for helping with creating JS functions!
                // also, negative value because we're scrolling upwards                             
                var yPos = -($window.scrollTop() / $scroll.data('speed')); 

                // background position
                var coords = '50% '+ yPos + 'px';

                // move the background
                $scroll.css({ backgroundPosition: coords });    
              }); // end window scroll
           });  // end section function
        }); // close out script
    
        